/* HOJA DE ESTILOS PERSONALIZADA */

body{
	font-family: 'Calistoga', cursive;
}

nav{
	background-color:#83B4FF;
}

form{
	padding:20px;
}

.pie{
	background-color:#007bff;
	margin-top:30px;
	min-height:50px;
	text-align:center;
	
}


header{
	min-height: 10vh;
    margin: 5px;
    text-transform:uppercase;
   
}

footer{
	margin-top: 13px;
    display: inline-block;
}

.info-user{
	width:100%;
	min-height: 10vh;
	background-color:#A4EE45;
	position:relative;
	margin-bottom:10px;
}

.info-user img{
	height: 50px;
    width: 50px;
    position: absolute;
    top: 1px;
    margin: 2px;
}

.info-user p{
	font-size:2rem;
	text-align:center;
	margin-top:20px;
	text-transform: uppercase;
}

.fa-times-circle{
	color: red;
    font-size: 3.2rem;
    position: absolute;
    bottom: 2px;
    right:1px;
}

.usuarios{
	color: #007bff;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    right: 5px;
    top: 8px;
     
}

.container{
	background-color: #D8ECF0;
}

header ul{
	background-color: #D8ECF0;
    border: 2px solid #007bff;
    border-radius: 8px;
}