/* HOJA DE ESTILOS PERSONALIZADA */

body{
	font-family: 'Calistoga', cursive;
}

main{
	background-color: #D8ECF0;
}

nav{
	background-color:#83B4FF;
}

.pie{
	background-color:#007bff;
	margin-top:30px;
	min-height:50px;
	text-align:center;
	
}

.info-user{
	width:100%;
	min-height: 10vh;
	background-color:#A4EE45;
	position:relative;
	margin-bottom:10px;
}

.info-user img{
	height: 50px;
    width: 50px;
    position: absolute;
    top: 1px;
    margin: 2px;
}

.info-user p{
	font-size:2rem;
	text-align:center;
	margin-top:20px;
	text-transform: uppercase;
}

.fa-times-circle{
	color: red;
    font-size: 3.2rem;
    position: absolute;
    bottom: 2px;
    right:1px;
}

.usuarios{
	background-color: #007bff;
    color: white;
    padding: 7px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
}